$colorPink:#FF1493;
$colorBlack:#000000;
$colorWhite:#FFFFFF;
$colorDarkPink:#201020;
$colorDarkDarkPink :#371037;
.animeMap-text-header{
    padding: 45px 0px 20px 90px;
}
.animeMap-text-header h1{
    color: white;
    font-size:40px;
    -webkit-text-stroke: 1px black; 
}
.animeMap-text-header h6{
    color: white;
    font-size:18px;
    -webkit-text-stroke: 1px black; 
}