.user-profile {
    display: inline-block;
    margin-right: 30px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('https://www.phoenixnext.com/pub/media/magefan_blog/274567847_526695139129364_6517364667703838553_n_1_.jpg');
  }