$colorPink:#FF1493;
$colorBlack:#000000;
$colorWhite:#FFFFFF;
$colorDarkPink:#201020;
$colorDarkDarkPink :#371037;
.accountpage-header{
    padding: 40px 100px 40px 100px;
    h1{
        color: white;
        font-size:40px;
        -webkit-text-stroke: 1px $colorBlack; 
        margin-bottom: 20px;
    }
}
.accountpage-container{
    background-color: $colorWhite;
    margin: auto;
    width: 1000px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
.accountpage-coin{
    padding: 20px;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    button{
        padding: 10px;
        color: $colorWhite;
        background-color: $colorPink;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
}
.accountpage-detail{
    padding: 20px;
}